.App {
  text-align: center;
  position: relative;
}

.form-section {
  display: inline;
}

.flex-row {
  display: inline-flex;
}

.board {
  position: absolute;
  margin-left: 15em;
  margin-top: 1em;
  width: 65em;
  height: 40em;
  border: 3px solid black;
  overflow-y: scroll;
}

.column-form {
  border: 2px solid green;
  margin-top: 1em;
  margin-bottom: 2em;
  position: absolute;
  height: 5em;
  width: 18%;
}


.card-form {
  border: 2px solid blue;
  margin-top: 7em;
  position: absolute;
  height: 15em;
  width: 18%;
}

.card-label {
  display: block;
  margin-top: 1em;
}

.column {
  border: 1px solid red;
  min-width: 14em;
}

.card {
  border: 1px solid blue;
  position: relative;
  height: 24.75%;
  width: 14em;
}

.card-button {
  background-color: red;
  color: white;
  float: right;
}

.submit-button {
  margin: auto;
  background-color: green;
  color: white;
}